.container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: radial-gradient(var(--secondary-color) -20%, black);
	scroll-margin-top: 80px;
}

.left {
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.card {
	position: relative;
	/* transform: skew(15deg); */
	padding: 30px;
	padding-top: 80px;
	border: 2px solid white;
	color: white;
	transform: rotate(-1deg);
}

.list {
	display: flex;
	gap: 10px;
	position: absolute;
	top: -20;
	right: -40;
	padding: 20px;
	background-color: white;
	rotate: 1deg;
}

.left button {
	border: 2px solid white;
	background-color: transparent;
	padding: 10px;
	font-weight: bold;
	font-size: 1.5rem;
	text-transform: uppercase;
}

.right img {
	position: relative;
	top: -800px;
	filter: drop-shadow(20px 20px 0px black);
	opacity: 1;
}

.right .drop {
	opacity: 1;
	top: 0;
	animation: forwards spideyDrop 0.8s ease-out;
}

.right .balance {
	transform: translateX(0) rotate(0deg);
	opacity: 1;
	top: 0;
	animation: spideySwing 5s ease-in-out infinite;
}

@keyframes spideyDrop {
	from {
		opacity: 0;
		top: -800px;
	}
	75% {
		opacity: 1;
		top: 15px;
		animation-timing-function: ease-out;
	}
	to {
		opacity: 1;
		top: 0;
		animation-timing-function: ease-in;
	}
}

@keyframes spideySwing {
	0% {
		transform: translateX(0) rotate(0deg);
		animation-timing-function: ease-out;
	}
	25% {
		transform: translateX(-50px) rotate(5deg);
		animation-timing-function: ease-in;
	}
	50% {
		transform: translateX(0) rotate(0deg);
		animation-timing-function: ease-out;
	}
	75% {
		transform: translateX(50px) rotate(-5deg);
		animation-timing-function: ease-in;
	}
	100% {
		transform: translateX(0) rotate(0deg);
	}
}
