.container {
	background: radial-gradient(var(--secondary-color) -20%, black);
	scroll-margin-top: 60px;
}

.wrapper {
	display: flex;
	justify-content: space-around;
}

.left {
	width: 40%;
	scale: 0.7;
	margin-top: -100px;
	margin-bottom: -100px;
}

.card {
	background-color: white;
	box-shadow: 4px 4px 8px black;
	color: black;
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	rotate: -2deg;
}

.pages {
	display: flex;

	justify-content: space-between;
	gap: 10px;
}
.page {
	border: 1px solid black;
	width: 100%;
}

.page__title {
	padding: 2px;
	font-size: 1.5rem;
	text-align: center;
}

.page__title span:nth-child(1) {
	margin-bottom: -2px;
}
.page__title span {
	display: block;
}

.page__number {
	background-color: black;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.3rem;
}

.text {
	font-size: 0.6em;
	font-weight: bold;
}

.title {
	font-size: 14rem;
	width: 100%;
	letter-spacing: 0.15rem;
	line-height: 13rem;
}

.article__content {
	display: flex;
}

.content__left {
	width: 50%;
	/* padding-right: 120px;
	align-self: center; */
}

.left__description {
	font-weight: 500;
}

.content__right {
	width: 50%;
	height: 540px;
	overflow: hidden;
}

.button {
	padding-left: 5px;
}

.button button {
	position: relative;
	transform: rotate(-1deg);
	background-color: transparent;
	border: none;
	font-weight: bold;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	text-shadow: -2px 2px 0 var(--primary-color);
	text-transform: uppercase;
}

.button button::before {
	position: absolute;
	left: 0;
	bottom: -5px;
	content: "";
	width: 100%;
	opacity: 0;
	height: 2px;
	background-color: white;
	box-shadow: 4px 4px 0px var(--primary-color);
	transition: 80ms all linear;
}
.button button:hover::before {
	opacity: 1;
	transition: 80ms all linear;
}

.right img {
	position: relative;
	top: -800px;
	filter: drop-shadow(20px 20px 0px black);
	opacity: 0;
}

.right .drop {
	opacity: 1;
	top: 0;
	animation: forwards spideyDrop 0.8s ease-out;
}

.right .balance {
	transform: translateX(0) rotate(0deg);
	opacity: 1;
	top: 0;
	animation: spideySwing 5s ease-in-out infinite;
}

@keyframes spideyDrop {
	from {
		opacity: 0;
		top: -800px;
	}
	75% {
		opacity: 1;
		top: 15px;
		animation-timing-function: ease-out;
	}
	to {
		opacity: 1;
		top: 0;
		animation-timing-function: ease-in;
	}
}

@keyframes spideySwing {
	0% {
		transform: translateX(0) rotate(0deg);
		animation-timing-function: ease-out;
	}
	25% {
		transform: translateX(-50px) rotate(5deg);
		animation-timing-function: ease-in;
	}
	50% {
		transform: translateX(0) rotate(0deg);
		animation-timing-function: ease-out;
	}
	75% {
		transform: translateX(50px) rotate(-5deg);
		animation-timing-function: ease-in;
	}
	100% {
		transform: translateX(0) rotate(0deg);
	}
}
