.container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: radial-gradient(var(--secondary-color) -20%, black);
	scroll-margin-top: 80px;
}

.left {
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.card {
	position: relative;
	/* transform: skew(15deg); */
	padding: 30px;
	padding-top: 80px;
	/* border: 1px solid white; */
	background-color: var(--third-color);
	color: white;
	transform: rotate(-1deg);
}

.list {
	display: flex;
	gap: 10px;
	position: absolute;
	top: -20;
	right: -40;
	padding: 20px;
	background-color: white;
	box-shadow: -8px 8px 0px var(--primary-color);
	rotate: 1deg;
}

.button button {
	position: relative;
	left: 4px;
	transform: rotate(-1deg);
	background-color: var(--primary-color);
	padding: 20px;
	border: none;
	font-weight: bold;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	/* transform: skew(-15deg) skewY(1deg); */
}

/* .button::before {
	position: absolute;
	z-index: -1;
	content: "";
	width: 100%;
	height: 100%;
	background-color: var(--primary-color);
	transform: skew(-15deg);
	left: -10px;
	bottom: 0;
} */

.right img {
	position: relative;
	top: -800px;
	filter: drop-shadow(20px 20px 0px black);
	opacity: 1;
}

.right .drop {
	opacity: 1;
	top: 0;
	animation: forwards spideyDrop 0.8s ease-out;
}

.right .balance {
	transform: translateX(0) rotate(0deg);
	opacity: 1;
	top: 0;
	animation: spideySwing 5s ease-in-out infinite;
}

@keyframes spideyDrop {
	from {
		opacity: 0;
		top: -800px;
	}
	75% {
		opacity: 1;
		top: 15px;
		animation-timing-function: ease-out;
	}
	to {
		opacity: 1;
		top: 0;
		animation-timing-function: ease-in;
	}
}

@keyframes spideySwing {
	0% {
		transform: translateX(0) rotate(0deg);
		animation-timing-function: ease-out;
	}
	25% {
		transform: translateX(-50px) rotate(5deg);
		animation-timing-function: ease-in;
	}
	50% {
		transform: translateX(0) rotate(0deg);
		animation-timing-function: ease-out;
	}
	75% {
		transform: translateX(50px) rotate(-5deg);
		animation-timing-function: ease-in;
	}
	100% {
		transform: translateX(0) rotate(0deg);
	}
}
