.container {
	background: radial-gradient(var(--primary-color) -40%, #390102);
	padding-bottom: 60px;
}

.wrapper {
	margin-top: 60px;
	display: flex;
	justify-content: space-around;
	padding-inline: 60px;
}

.left {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.title {
	position: relative;
	font-size: 1.5rem;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: bold;
	max-width: fit-content;
	text-shadow: -2px 2px 0 var(--secondary-color);
}

.right .title {
	margin-inline: auto;
}

.title::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: -10px;
	background-color: white;
	box-shadow: 0px 2px 4px black;
	width: 100%;
	height: 2px;
}

.number svg {
	width: 30px;
	height: 30px;
}

.number span {
	display: flex;
	align-items: center;
	gap: 10px;
}

.social ul {
	display: flex;
	gap: 10px;
	filter: invert(1);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.form__names {
	display: flex;
	gap: 5px;
	width: 700px;
}

.form input,
.form textarea {
	background-color: transparent;
	border: 1px solid white;
	outline: none;
	padding: 8px;
	width: 100%;
	transition: 150ms all linear;
}

.form input:focus,
.form textarea:focus {
	border: 1px solid var(--secondary-color);
	transition: 150ms all linear;
}

.form input::placeholder,
.form textarea::placeholder {
	color: white;
	letter-spacing: 0.05rem;
}

.form textarea {
	height: 200px;
}

.form__button button {
	width: 100%;
	padding: 8px;
	background-color: white;
	border: none;
	font-size: 1rem;
	color: black;
	font-weight: bold;
}

.phone {
}
