.container {
	padding: 60px;
	background: radial-gradient(var(--primary-color) -40%, #390102);
}

.titles {
	max-width: 500px;
}

.titles h2 {
	font-size: 3rem;
	margin-bottom: 10px;
}

.titles h3 {
	font-size: 1rem;
	font-weight: 400;
}
