.container {
	display: flex;
	justify-content: center;
	gap: 120px;
	width: 100%;
}

.container:nth-child(even) {
	flex-direction: row-reverse;
}

.left {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.title {
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: -4px 4px 0px black;
	max-width: 450px;
}

.description {
	font-weight: 400;
}

.description p::first-letter {
	color: var(--secondary-color);
	font-weight: bold;
	font-size: 1.2rem;
	text-shadow: -2px 2px 0 black;
}

.description {
	text-shadow: 1px 1px 0px black;
}

.container:nth-child(even) .right img {
	filter: drop-shadow(-4px 4px 4px black);
}

.web {
	min-width: 300px;
}
.web img {
	transform: scale(0);
	object-fit: contain;
	filter: drop-shadow(4px 4px 4px black);
}

.grow {
	animation: growWeb forwards 0.2s ease-out;
}

@keyframes growWeb {
	from {
		transform: scale(0); /* Commence à 0% de l'échelle horizontale */
	}
	to {
		transform: scale(1); /* Termine à 100% de l'échelle horizontale */
	}
}
