@import "tailwindcss";

:root {
  --background: black;
  --foreground: oklch(.967 .003 264.542);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
}

@layer components {
  .animate-fade-in {
    overflow: hidden;
    transition: max-height 0.3s ease;
  }



  @keyframes fadeIn {
    from {
      height: 0;
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}