.container {
	position: relative;
	z-index: 9998;
	background-color: white;
	padding: 60px;
	color: black;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.title h2 {
	font-size: 3rem;
}
.subtitle {
	text-align: center;
}
.subtitle h3 {
	font-size: 0.9rem;
	color: rgba(0, 0, 0, 0.6);
	font-weight: 600;
	max-width: 900px;
}
